body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(9, 79, 9);
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: -50px;
    margin: 10px, 10px, 10px, 10px;
}

p{
    color: goldenrod;
}
#message{
font-style: italic;
color: rgb(143, 103, 103);
}
button{
    border:none;
    font-weight: bold;
    background-color: yellow;
    color: rgb(72, 115, 72);
    padding-top: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 2px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    width: 150px;
    border-radius: 2px;
}
